include ../mixins/title.pug
include ../mixins/userCard.pug

if define
    -
        define("endpoint", "/");
else if fetch
    -
        fetch({
            identifier: "preview_page",
            passAs: "pages",
            optional: true,
            params: {
                $max: 12
            },
            all: true
        });
        fetch({
            identifier: "preview_user",
            passAs: "users",
            optional: true,
            params: {
                $max: 12
            },
            all: true
        });
else
    +title(env, "")
    h1 Seiten
    .d-flex.flex-wrap(style="padding: 20px;")
        each page in f.pages
            .card(style="width: 18rem;")
                if page.img
                    img.card-img-top(
                        src!=`/resource/${page.img}`,
                        alt="No Image",
                        height="180"
                    )
                else
                    svg.card-img-top(
                        width="100%",
                        height="180",
                        xmlns="http://www.w3.org/2000/svg",
                        role="img",
                        aria-label="Placeholder: No image",
                        preserveAspectRatio="xMidYMid slice",
                        focusable="false"
                    )
                        title Placeholder
                        rect(
                            width="100%",
                            height="100%",
                            fill="#868e96"
                        )
                .card-body
                    h5.card-title #{page.title}
                    p.card-text #{page.description}
                    div(style="padding-bottom: 80px;")
                        a.btn.btn-primary(href=`/page/${page.id}`) Öffnen
                    .create-stamp
                        +userCard({ id: page.author_id, username: page.author_username, permissionLevel: page.author_permission_level, avatar: page.author_avatar })
                        span.sec-text erstellt am #{new Date(page.creation_time).toLocaleDateString("de")}
    h1 Nutzer
    .d-flex.flex-wrap(style="padding: 20px;")
        each user in f.users
            - user.permissionLevel = user.permission_level
            +userCard(user)
