include ../mixins/title.pug

if define
    -
        define("endpoint", "/user/*");
else if fetch
    -
        if (req.path.match(/\/user\/\~(.*)/)) {
            const username = req.path.match(/\/user\/\~(.*)/)[1];
            fetch({
                identifier: "profile_by_username",
                passAs: "profile",
                optional: false,
                params: {
                    $username: username
                }
            });
        } else {
            const id = req.path.match(/\/user\/(.*)/)[1];
            fetch({
                identifier: "profile_by_id",
                passAs: "profile",
                optional: false,
                params: {
                    $id: id
                }
            });
        }
else
    +title(env, "Nutzerprofil")
    .row.mb-4
        .avatar
            img.avatar(src=`/resource/${f.profile.avatar}`)
            img.rankbox(
                class=[`rank${f.profile.permission_level}`],
                src=`/static/numeric-${f.profile.permission_level}.svg`
            )
        .col
            span(style="font-size: 26pt;")
                strong #{f.profile.username}
            br
            span(style="font-size: 10pt; color: #828282;")
                strong #{f.profile.id}
            br
            span(style="font-size: 10pt; color: #828282;") beigetreten am #{new Date(f.profile.creation_time).toLocaleDateString("de")}
            br
            br
            button.btn.btn-info(
                type="button",
                data-bs-toggle="tooltip",
                data-bs-placement="top",
                title="DMail verfassen",
                onclick!=`window.location.href = window.location.origin + "/dmail?ref=${f.profile.id}"`
            )
                strong 💬 DMail
    .row.mb-3.gx-3(style="min-height: 250px;")
        .col-12.col-md-8.col-lg-6
            .text-field.h-100
                h4 Beschreibung
                | #{f.profile.bio}
    .row.mb-3.gx-3(style="min-height: 250px;")
        .col-6.col-md-4.col-lg-3
            .text-field.h-100
                h4 Gruppen
                | #{f.profile.classes}
        .col-6.col-md-4.col-lg-3
            .text-field.h-100
                h4 Links
                | #{f.profile.links}
