.d-flex.flex-column.justify-content-center.align-items-center(style="min-height: 75vh;")
    h2 Registrieren
    h6.text-center Du hast einen Account?
        br
        a(href="/login") Login
    .my-2
        label.form-label(for="email") Username
        input.form-control(
            type="text",
            id="username",
            placeholder="user1234",
            onkeypress!="onEnter(event, (e => e.click.bind(e))(document.getElementById('submit')))"
        )
    .my-2
        label.form-label(for="email") Email
        input.form-control(
            type="email",
            id="email",
            placeholder="name@example.com",
            onkeypress!="onEnter(event, (e => e.click.bind(e))(document.getElementById('submit')))"
        )
    .my-2
        label.form-label(for="password") Passwort
        input.form-control(
            type="password",
            id="password",
            onkeypress!="onEnter(event, (e => e.click.bind(e))(document.getElementById('submit')))"
        )
    button.btn.btn-primary.px-5.my-4#submit(
        onclick!="submitRegister()",
        type="button",
        disabled=""
    ) Registrieren
    .frc-captcha(data-sitekey=f.siteKey, data-callback="enableSubmit", data-lang="de")
script(
    type="module",
    src="https://cdn.jsdelivr.net/npm/friendly-challenge@0.9.1/widget.module.min.js",
    async="",
    defer=""
)
script(
    nomodule="",
    src="https://cdn.jsdelivr.net/npm/friendly-challenge@0.9.1/widget.min.js",
    async="",
    defer=""
)