include ../mixins/title.pug

+title(env, "Einstellungen")
form.flex-column
    .my-2(style="max-width: 300px;")
        label.form-label
            strong Username
        .input-group
            input.form-control(
                type="text",
                value=f.user.username,
                disabled
            )
            button.btn.btn-outline-primary(
                type="button",
                data-bs-toggle="modal",
                onclick!=`document.querySelector('#usernameModal > div > div > div form').reset()`,
                data-bs-target="#usernameModal"
            ) Ändern
    .my-2(style="max-width: 300px;")
        label.form-label
            strong Email
        .input-group
            input.form-control(
                type="email",
                value=f.user.email,
                disabled
            )
    .my-2(style="max-width: 300px;")
        label.form-label
            strong Passwort
        .input-group
            button.btn.btn-outline-primary(
                type="button",
                data-bs-toggle="modal",
                onclick!=`document.querySelector('#passwordModal > div > div > div form').reset()`,
                data-bs-target="#passwordModal"
            ) Passwort ändern
    .my-2(style="max-width: 300px;")
        label.form-label.d-block
            strong Avatar
        img.avatar(
            src=`/media/${f.user.id}/avatar.png`,
            onerror="this.src='/media/standard_avatar.png';this.onerror='';"
        )
        .input-group.my-2
            button.btn.btn-outline-primary(
                type="button",
                data-bs-toggle="modal",
                onclick!=`document.getElementById('avatar').src = '/media/${f.user.id}/avatar.png'; document.querySelector('#avatarModal > div > div > div form').reset()`,
                data-bs-target="#avatarModal"
            ) Ändern
    .my-2
        label.form-label
            strong Beschreibung
        textarea#summary #{f.user.summary}
        button.btn.btn-lg.btn-outline-primary.my-2(
            type="button",
            onclick!=`submitSetting('summary')`,
            style="max-width: 200px;"
        ) Übernehmen
        script(src="https://cdn.jsdelivr.net/npm/simplemde@1.11.2/dist/simplemde.min.js")
        script const mde = new SimpleMDE(document.getElementById("summary"));
        .form-text User sind für die Inhalte auf ihrer User page verantwortlich.

.modal.fade#usernameModal(tabindex="-1", aria-hidde=true)
    .modal-dialog.modal-dialog-centered
        .modal-content
            .modal-header
                h5.modal-title
                    strong Username
                button.btn-close(
                    type="button",
                    data-bs-dismiss="modal"
                )
            .modal-body
                form
                    .my-2
                        label.form-label
                            strong Neuer Username
                        .input-group
                            input.form-control#username(
                                type="text",
                                placeholder=f.user.username
                            )
                            button.btn.btn-outline-success(
                                type="button",
                                data-bs-toggle="tooltip",
                                data-bs-placement="top",
                                title="Verfügbarkeit prüfen",
                                onclick!=`checkAvailableUsername()`
                            ) ♻️
                        .form-text#availableUsername(style="visibility: hidden;") hacker man
                    .my-2
                        label.form-label
                            strong Passwort
                        .input-group
                            input.form-control#upassword(
                                type="password"
                            )
                    .float-end
                        button.btn.btn-outline-secondary.m-1(
                            type="button",
                            data-bs-dismiss="modal",
                            style="max-width: 200px;"
                        ) Abbrechen
                        button.btn.btn-outline-primary.m-1(
                            type="button",
                            onclick!=`submitSetting('username')`,
                            style="max-width: 200px;"
                        ) Übernehmen

.modal.fade#passwordModal(tabindex="-1", aria-hidde=true)
    .modal-dialog.modal-dialog-centered
        .modal-content
            .modal-header
                h5.modal-title
                    strong Passwort
                button.btn-close(
                    type="button",
                    data-bs-dismiss="modal"
                )
            .modal-body
                form
                    .my-2
                        label.form-label
                            strong Altes Passwort
                        .input-group
                            input.form-control#oldpassword(type="password")
                    .my-2
                        label.form-label
                            strong Neues Passwort
                        .input-group
                            input.form-control#newpassword1(type="password")
                    .my-2
                        label.form-label
                            strong Passwort bestätigen
                        .input-group
                            input.form-control#newpassword2(type="password")
                    .float-end
                        button.btn.btn-outline-secondary.m-1(
                            type="button",
                            data-bs-dismiss="modal",
                            style="max-width: 200px;"
                        ) Abbrechen
                        button.btn.btn-outline-primary.m-1(
                            type="button",
                            onclick!=`submitSetting('password')`,
                            style="max-width: 200px;"
                        ) Übernehmen

.modal.fade#avatarModal(tabindex="-1", aria-hidde=true)
    .modal-dialog.modal-dialog-centered
        .modal-content
            .modal-header
                h5.modal-title
                    strong Avatar
                button.btn-close(
                    type="button",
                    data-bs-dismiss="modal"
                )
            .modal-body
                form
                    img.avatar#avatar(
                        src=`/media/${f.user.id}/avatar.png`,
                        onerror="this.src='/media/standard_avatar.png';this.onerror='';"
                    )
                    input.form-control.my-1#avatarFile(
                        type="file",
                        accept="image/x-png,image/jpeg",
                        onchange="previewImage(this, document.querySelector('#avatar'))"
                    )
                    .float-end
                        button.btn.btn-outline-secondary.m-1(
                            type="button",
                            data-bs-dismiss="modal",
                            style="max-width: 200px;"
                        ) Abbrechen
                        button.btn.btn-outline-primary.m-1(
                            type="button",
                            onclick!=`submitSetting('avatar')`,
                            style="max-width: 200px;"
                        ) Übernehmen
