include ../mixins/title.pug

+title(env, "User")
.row.mb-4
    .col.col-md-auto
        img.avatar.rank(
            src=`/media/${f.profile.id}/avatar.png`,
            onerror="this.src='/media/standard_avatar.png';this.onerror='';",
            class=[`rank${f.profile.permission_level}`]
        )
    .col
        span(style="font-size: 26pt;")
            strong #{f.profile.username}
        br
        span.sec-text
            strong #{f.profile.id}
        br
        span.sec-text beigetreten am #{new Date(Number(f.profile.creation_time)).toLocaleDateString("de")}
        br
        br
        button.btn.btn-info(
            type="button",
            data-bs-toggle="tooltip",
            data-bs-placement="top",
            title="Wire verfassen",
            onclick!=`goto('/wire?ref=${f.profile.id}')`,
            disabled=""
        )
            strong 💬 Wire
h2 Beschreibung
div(style="font-size: 20px;") #{f.profile.summary}
