include ../mixins/title.pug

+title(env, "Nutzerprofil")
.row.mb-4
    .avatar
        img.avatar.rank(
            src=`/media/${f.profile.id}/${f.profile.avatar}`
            class=[`rank${f.profile.permission_level}`]
        )
    .col
        span(style="font-size: 26pt;")
            strong #{f.profile.username}
        br
        span.sec-text
            strong #{f.profile.id}
        br
        span.sec-text beigetreten am #{new Date(f.profile.creation_time).toLocaleDateString("de")}
        br
        br
        button.btn.btn-info(
            type="button",
            data-bs-toggle="tooltip",
            data-bs-placement="top",
            title="DMail verfassen",
            onclick!=`goto('/dmail?ref=${f.profile.id}')`
        )
            strong 💬 DMail
