-
    ENUM_PERMISSION_COLOUR = {
        0: "btn-outline-secondary",
        1: "btn-outline-info",
        2: "btn-outline-primary",
        3: "btn-outline-success",
        4: "btn-outline-warning",
        5: "btn-outline-danger"
    }

mixin userDisplayCard(user)
    a.btn.float-end.align-items-center.d-flex.position-relative(
        class=[ENUM_PERMISSION_COLOUR[user.permissionLevel]],
        href=`/user/${user.id}`,
        style="height: 60px;"
    )
        span(style="font-size: 25px; line-height: 0;") #{user.username}
        img.login-img(
            src=`/resource/${user.avatar || "standard_avatar.png"}`,
            height="50",
            width="50"
        )
