-
    ENUM_PERMISSION_COLOUR = {
        0: "btn-outline-secondary",
        1: "btn-outline-info",
        2: "btn-outline-primary",
        3: "btn-outline-success",
        4: "btn-outline-warning",
        5: "btn-outline-danger"
    };

mixin userCard(user, floatEnd=false)
    -
        const c = [ENUM_PERMISSION_COLOUR[user.permissionLevel]];
        if (floatEnd) c.push("float-end");
    button.btn.btn-sm.align-items-center.d-flex.position-relative(
        class=c,
        onclick!=`goto('/user/${user.id}')`
    )
        span(style="font-size: 20px; line-height: 0;") #{user.username}
        img.login-img(
            src=`/media/${user.id}/${user.avatar || "standard_avatar.png"}`,
            height="40",
            width="40"
        )
